* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*This defines what 1rem is*/
  font-size: 62.5%; /*1rem = 10px*/
}

body {
  display: flex;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: absolute;
  top: 5vh;
  right: 4vw;
  width: 27vw;
}

.navbar__list {
  display: flex;
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
  justify-content: space-between;
}

.navbar__item {
  color: rgb(153, 153, 153);
  cursor: pointer;
  transition: all 0.2s;
}

.navbar__item::after {
  content: "";
  margin-top: 1.5px;
  display: none;
  height: 3px;
  background: rgb(196, 88, 16);
}

.navbar__item:hover:after {
  width: 75%;
  display: block;
}

.navbar__item:hover {
  color: #000;
}

.principal_image {
  flex: 0 0 40vw;
  height: 100vh;
  background-image: url("../images/principal.jpg");
  background-size: cover;
  background-position: center;
}

.subtitle {
  font-size: 1.5rem;
  color: #aaa;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  line-height: 6rem;
  margin-top: 4vh;
}

.principal_image__text {
  color: #eee;
  margin-top: 17vh;
  margin-left: 4vw;
}

.principal_image__details {
  position: absolute;
  bottom: 20vh;
  margin-left: 4vw;
}

.principal_image__info {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.principal_image__people {
  width: 15vw;
  height: 9vh;
  background-color: #000;
  border-radius: 10000px;
  display: flex;
  align-items: center;
}

.profile {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 10000px;
}

.play {
  position: absolute;
  top: 30vh;
  left: 40%;
  height: 7rem;
  width: 7rem;
  border-radius: 10000px;
  background-color: rgb(196, 88, 16);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 22px solid #fff;
  border-bottom: 13px solid transparent;
  margin-left: 4px;
}

.content {
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content__text {
  width: 65%;
  margin-top: 17vh;
  position: relative;
}

.title2 {
  font-size: 3rem;
}

.content__price {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  color: rgb(196, 88, 16);
}

.content__paragraph {
  font-size: 1.4rem;
  width: 80%;
  margin-top: 4vh;
  line-height: 2.2rem;
  font-weight: 500;
  color: rgb(153, 153, 153);
}

.line {
  margin-top: 4vh;
  background-color: rgb(196, 196, 196);
  width: 100%;
  height: 1px;
}

.content__details {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
}

.button {
  border-radius: 1000px;
  border: 1.5px solid rgb(196, 88, 16);
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(196, 88, 16);
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  color: #fff;
  background-color: rgb(196, 88, 16);
}

.content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 14rem;
  font-weight: 700;
}

.title3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(153, 153, 153);
}

.title3--bold {
  position: absolute;
  right: 0;
  color: #000;
}

.cards {
  position: absolute;
  display: flex;
  bottom: 3vh;
  right: 3vh;
  width: 70vw;
  justify-content: space-between;
}

#newyork {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(44, 44, 44, 0) 70%),
    url(../images/newyork.jpg);
}

#paris {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(44, 44, 44, 0) 70%),
    url(../images/paris.jpg);
}

#sidney {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(44, 44, 44, 0) 70%),
    url(../images/sidney.jpg);
}

#mexico {
  background-image: linear-gradient(0deg, rgb(0, 0, 0), rgba(44, 44, 44, 0) 70%),
    url(../images/mexico.jpg);
}

.cards__card {
  position: relative;
  width: 15vw;
  height: 35vh;
  background-position: center;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 6px 6px 25px -9px rgba(0, 0, 0, 0.75);
}

.cards__text {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
}

.cards__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.cards__details {
  margin-top: 0.5rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
}
